body {
padding-top: 80px;
}


.container .row{
    display: flex;
    justify-content: center;
    align-items: center;
}


.show-cart li {
display: flex;
}
.card {
margin-bottom: 20px;
}
.card-img-top {
width: 200px;
height: 200px;
align-self: center;
}